.heading-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   align-items: center;
   padding: 10px;

}

.nav-bar > ul{
    display: flex;
   list-style: none;
   gap: 20px; 

}

.img{
    width: 100px;
}
.res-card{
    padding: 5px;
width: 200px;



background-color: #f0f0f0;
}
.img2{
    width: 100%;
    height: 200px;
}

.res-card:hover{
    border: 1px solid black;
}

.res-container{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        justify-content: center;     /* centers the grid */
        gap: 20px;
        max-width: 1100px;           /* controls total width */
        margin: 0 auto;              /* centers container itself */

      

}
.cuisines {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
h1, h2, h3, h4, h5, h6, p {
    margin: 10;
  }

  .shimmer-container{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;

  }
  .shimmer-card{
    width: 200px;
    height: 350px;
    background-color: #f0f0f0;
  }

  .user-card{
    border: 1px solid black;
    
  }