.heading-container{
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
   align-items: center;
   padding: 10px;

}

.nav-bar > ul{
    display: flex;
   list-style: none;
   gap: 20px; 

}

.img{
    width: 120px;
}
.res-card{
    padding: 5px;
width: 200px;
height: 300px;

background-color: #f0f0f0;
}
.img2{
    width: 100%;
}

.res-card:hover{
    border: 1px solid black;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;

}
